:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

ul {
  list-style: none;
}

.left-header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}

.right-header ul {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  padding-top: .5rem;
}

li+li {
  margin-left: 1rem;
  ;
}

.cat img {
  height: 70%;
  width: 20%;
}